.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 4rem;
}

.hero--dark {
  background-color: #414141;
  padding: 2rem;
}

.hero__image {
  display: block;
}

.hero-grid h1 {
  font-size: 2rem;
  font-weight: 600;
}

.hero-grid h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.selfie__image {
  height: 10rem;
  width: 10rem;
  display: block;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    padding: 0;
    color: var(--color-header);
    height: 100%;
  }

  .hero--dark {
    display: grid;
    grid-auto-rows: 1fr 2fr 1fr;
    padding: 2rem 15%;
    color: var(--color-header);
    background: linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 50%, white 51%, white 100%);
  }

  .hero-grid h1 {
    font-size: 2.75rem;
  }

  .selfie {
    display: flex;
    align-items: center;
  }

  .selfie__image {
    height: 100%;
    width: 100%;
  }

  .details li {
    margin-bottom: 0.75rem;
  }

  .details li span {
    display: block;
    letter-spacing: 0.195em;
  }
}
