:root {
  font-size: 16px;
  --color-header: #414141;
  --color-text: white;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
}

.debug {
  color: red;
  font-size: 2rem;
}

#layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#header {
  height: 8rem;
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.logo {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation :not(:first-child) {
  margin-left: 1rem;
}

.navigation__link {
  color: var(--color-text);
  text-transform: capitalize;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background-color: var(--color-header);
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 80rem;
  width: 100%;
}

/* UTILITY CSS */
.mr-l {
  margin-right: 2rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

a.link--clear,
a.link--clear:hover,
a.link--clear:focus,
a.link--clear:active {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

a.link--clear:hover,
a.link--clear:focus,
a.link--clear:active {
  opacity: 1;
}

a.link--clear[aria-current] {
  opacity: 0.9;
}

.button {
  height: 4rem;
  background-color: white;
  color: var(--color-header);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
}

.button:hover,
.button:focus {
  color: black;
}

.button:active {
  color: black;
  filter: brightness(0.9);
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 1rem 0;
}
