:root {
  font-size: 10px;
  --color-header: #414141;
  --color-text: white;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
}

.mobile {
  display: initial;
}

.desktop {
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    font-size: 10px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 1366px) {
  :root {
    font-size: 16px;
  }
}

.debug {
  color: red;
  font-size: 2rem;
}

#layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html,
body,
#layout {
  height: 100%;
}

#header {
  height: 8rem;
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.logo {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 768px) {
  #header {
    height: 6rem;
    padding: 0 2rem;
  }

  .logo {
    font-size: 1.25rem;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation :not(:first-child) {
  margin-left: 1rem;
}

.navigation__link {
  color: var(--color-text);
  text-transform: capitalize;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background-color: var(--color-header);
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 80rem;
  width: 100%;
}

/* UTILITY CSS */
.mr-l {
  margin-right: 2rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.mt-m {
  margin-top: 1rem;
}

a.link--clear,
a.link--clear:hover,
a.link--clear:focus,
a.link--clear:active {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

a.link--clear:hover,
a.link--clear:focus,
a.link--clear:active {
  opacity: 1;
}

a.link--clear[aria-current] {
  opacity: 0.9;
}

.button {
  background-color: white;
  color: var(--color-header);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
}

.button:hover,
.button:focus {
  color: black;
}

.button:active {
  color: black;
  filter: brightness(0.9);
}

.button--small {
  padding: 0.5rem 1rem;
}

.button--negative {
  background-color: var(--color-header);
  color: white;
}

.button--negative:hover,
.button--negative:focus,
.button--negative:active {
  color: beige;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0 0 0.5rem 0;
}

h1 {
  margin: 0 0 1rem 0;
}

h2 {
  margin: 0 0 0.75rem 0;
}