#portfolio {
  padding: 1rem 0 2rem 0;
}

#portfolio h2 {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-header);
  margin: 1.5rem 0 0.75rem 0;
}

@media (max-width: 80rem) {
  #portfolio {
    padding: 1rem 2rem;
  }
}

.gallery__image:hover {
  cursor: pointer;
}
