---
pageTitle: Contact
layout: layouts/base.njk
stylesheet: css/contact.css
mobileNavHref: /logo
mobileNavText: See my work
---
<div class="hero-grid">
    <article class="hero desktop">
        {% image "images/pencil-horizontal.jpeg", "photo of my pencil", "(max-width: 760px) 50vw, 100vw", "hero__image" %}
    </article>
    <article class="hero--dark">
        <div>
            <h1>
                Contact me
            </h1>
            <div class="mobile">
                <h2>
                    Marija Miletić
                </h2>
                <p>
                    Split, Croatia
                </p>
            </div>            
        </div>
        <div class="selfie">
            {% image "images/mare.jpeg", "mare", "(max-width: 760px) 50vw, 100vw", "selfie__image mb-m" %}
        </div>
        <div class="desktop">
            <h2>
                Marija Miletić
            </h2>
            <p>
                Split, Croatia
            </p>
        </div> 
        <ul class="details">
            <li>WRITE AT <span class="bold"><a rel="noopener" class="link--clear" href="mailto:marijamiletic0@gmail.com" target="_blank">marijamiletic0@gmail.com</a></span></li>
            <li>CALL ON <span class="bold"><a class="link--clear" href="tel:+385955105379">+385955105379</a></span></li>
            <li>FIND ME ON <span class="bold"><a class="link--clear" target="_blank" rel="noopener" href="https://www.linkedin.com/in/marija-miletić">linkedin.com/in/marija-miletić</a></span></li>
        </ul>       
    </article>
</div>
