---
pageTitle: Home
layout: layouts/base.njk
stylesheet: css/home.css
---
<div class="hero-grid">
    <article class="hero hero">
        <img src='images/pencil.jpeg'>
    </article>
    <article class="hero hero--dark">
        <h1>
            Graphic Design & Illustration
        </h1>
        <h2>
            Marija Miletić
        </h2>
        <p>
            Experienced freelance graphic designer with a demonstrated history of working in the graphic design industry. 
            Specializes in a wide range of print and digital graphic design services, including logo design, book design, illustrations, and more.
        </p>
    </article>
</div>