---
pageTitle: Home
layout: layouts/base.njk
stylesheet: css/home.css
---
<div class="hero-grid">
    <article class="hero">
        {% image "images/pencil.jpeg", "photo of my pencil", "(max-width: 760px) 50vw, 100vw", "hero__image" %}
    </article>
    <article class="hero hero--dark">
        <h1>
            Graphic Design & Illustration
        </h1>
        <h2>
            Marija Miletić
        </h2>
        <p class="mb-xl">
            Experienced freelance graphic designer with a demonstrated history of working in the graphic design industry. 
            Specializes in a wide range of print and digital graphic design services, including logo design, book design, illustrations, and more.
        </p>
        <a class="button" href="/contact">See my work</a>
    </article>
</div>