---
navigation:
 - logo
 - illustration
 - print
 - contact
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link rel="icon" href="{{ '/images/favicon/favicon.png' | url }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/main.css" %}
    {% if stylesheet %}
      {% include stylesheet %}
    {% endif%}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body>
    <div id="layout">
      <header id="header">
        <a href="/" class="logo">Marija Miletić</a>
        <nav aria-labelledby="my-pagination">
          <ul class="navigation">
            {%- for pageEntry in navigation %}
              <li>
                <a class="navigation__link" href="/{{ navigation[ loop.index0 ] }}" {% if page.url.replaceAll("/", "") == navigation[ loop.index0 ] %} aria-current="page" {% endif %}>{{ pageEntry }}</a>
              </li>
            {%- endfor %}
          </ul>
        </nav>
      </header>

      <main id="content">
        <div class="container">
          {{ content | safe }}
        </div>
      </main>

      <footer id="footer">
        marijamiletic0@gmail.com
      </footer>
    </div>
  </body>
</html>