---
mobileNavHref: /contact
mobileNavText: Contact
navigation:
 - portfolio
 - contact
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} - Marija Miletic</title>
    <link rel="icon" href="{{ '/images/favicon/favicon.png' | url }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/main.css" %}
      {% if stylesheet %}
        {% include stylesheet %}
      {% endif%}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    {% if gallery %}
      <link rel="stylesheet" href="{{ '/lib/lightgallery.css' | url }}" type="text/css">
      <link rel="stylesheet" href="{{ '/lib/justifiedGallery.css' | url }}" type="text/css">
    {% endif %}
    {% if prefetch %}
      <link rel="prefetch" href="{{ prefetch | url }}">
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TV4ZXX2LTF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TV4ZXX2LTF');
    </script>
  </head>
  <body>
    <div id="layout">
      <header id="header">
        <a href="/" class="logo">Marija Miletić</a>
        <nav class="mobile">
          {% button mobileNavText | safe, mobileNavHref | url, "button--small" %}
        </nav>
        <nav class="desktop" aria-labelledby="my-pagination">
          <ul class="navigation">
            {%- for pageEntry in navigation %}
              <li>
                <a class="navigation__link link--clear" href="/{{ navigation[ loop.index0 ] }}" {% if page.url.replaceAll("/", "") == navigation[ loop.index0 ] %} aria-current="page" {% endif %}>{{ pageEntry }}</a>
              </li>
            {%- endfor %}
          </ul>
        </nav>
      </header>

      <main id="content">
        <div class="container">
          {{ content | safe }}
        </div>
      </main>

      <footer id="footer" class="desktop">
        <a rel="noopener" class="mr-l link--clear centered-content" href="http://www.linkedin.com/in/marija-miletić" target="_blank">
          <img src="{{ '/images/linkedin.svg' | url }}">
        </a>
        <a rel="noopener" class="link--clear" href="mailto:marijamiletic0@gmail.com" target="_blank">marijamiletic0@gmail.com</a>
      </footer>
    </div>

    {% if gallery %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{ '/lib/lightgallery.js' | url }}"></script>      
      <script src="{{ '/lib/justifiedGallery.js' | url }}"></script>
      <script src="{{ '/js/gallery.js' | url }}"></script>  
    {% endif %}
  </body>
</html>