---
navigation:
 - logo
 - illustration
 - print
 - contact
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="{{ '/images/favicon/favicon.png' | url }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/main.css" %}
    {% if stylesheet %}
      {% include stylesheet %}
    {% endif%}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    {% if gallery %}
      <link rel="stylesheet" href="{{ '/lib/lightgallery.css' | url }}" type="text/css">
      <link rel="stylesheet" href="{{ '/lib/justifiedGallery.css' | url }}" type="text/css">
    {% endif %}
  </head>
  <body>
    <div id="layout">
      <header id="header">
        <a href="/" class="logo">Marija Miletić</a>
        <nav aria-labelledby="my-pagination">
          <ul class="navigation">
            {%- for pageEntry in navigation %}
              <li>
                <a class="navigation__link link--clear" href="/{{ navigation[ loop.index0 ] }}" {% if page.url.replaceAll("/", "") == navigation[ loop.index0 ] %} aria-current="page" {% endif %}>{{ pageEntry }}</a>
              </li>
            {%- endfor %}
          </ul>
        </nav>
      </header>

      <main id="content">
        <div class="container">
          {{ content | safe }}
        </div>
      </main>

      <footer id="footer">
        <a class="mr-l link--clear centered-content" href="http://www.linkedin.com/in/marija-miletić" target="_blank">
          <img src="{{ '/images/linkedin.svg' | url }}">
        </a>
        <a class="link--clear" href="mailto:marijamiletic0@gmail.com" target="_blank">marijamiletic0@gmail.com</a>
      </footer>
    </div>

    {% if gallery %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{ '/lib/lightgallery.js' | url }}"></script>
      <script src="{{ '/lib/lightgallery-zoom.js' | url }}"></script>
      <script src="{{ '/lib/lightgallery-thumbnail.js' | url }}"></script>
      <script src="{{ '/lib/justifiedGallery.js' | url }}"></script>
      <script src="{{ '/js/gallery.js' | url }}"></script>  
    {% endif %}
  </body>
</html>